$editor-header-height: 60px;

#app.app-editor {
  max-width: 100%;
  #header {
    height: $editor-header-height;
    padding: 0 15px;
  }

  #header-logo {
    font-size: 24px;
    margin-right: 10px;
  }

  #header-buttons {
    margin: 0 10px;
    font-size: 14px;
    height: 32px;

    a {
      width: 32px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#editor {
  padding: 0 15px;
  overflow: auto;
  width: 100%;
  height: calc(100% - #{$editor-header-height});

  .ProseMirror {}
}

#editor-title {
  font-size: 24px;
  margin: 0;
  padding: 5px 0;
  width: 100%;
}

#editor-status {
  font-weight: lighter;
  margin-left: auto;
  margin-right: 10px;
  width: 20px;
  height: 20px;

  .tooltip {
    right: 0;
    top: 25px;
    background-color: white;
    color: #333;
  }
}

#editor-menubar {
}