$list-header-height: 60px;
$list-preview-transition-duration: 0.5s;

#app.app-list {
  width: 690px;
  left: 50%;
  transform: translateX(-50%);

  #header {
    height: $list-header-height;
    margin-left: 0;
  }

  #header-logo {
    font-size: 24px;
    margin-right: 10px;
  }

  #header-buttons {
    font-size: 14px;
    height: 32px;

    a {
      width: 32px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#list {
  width: 100%;
  height: calc(100% - #{$list-header-height});
  overflow-y: auto;
  overflow-x: hidden;
}

.list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 130%;
  height: 90px;
  max-height: 90px;
  overflow: visible;
  padding-right: 10px;

  transition: all $list-preview-transition-duration;

  &.list-item-hidden {
    height: 0;;
    max-height: 0;
    padding: 0 15px;
    margin: 0 auto 0;
    overflow: hidden;
    opacity: 0;
  }

  .list-item-preview {
    opacity: 0;
    transition: opacity $list-preview-transition-duration;
  }

  &.list-item-showPreview {
    height: 100%;
    max-height: 100%;
    margin-bottom: 0;
    overflow: hidden;

    .list-item-preview {
      opacity: 1.0;
      overflow-y: auto;
    }
  }

  h3 {
    font-weight: lighter;
    font-size: 20px;
  }

  .list-item-buttons {
    display: flex;
  }

  .list-item-created:before {
    content: 'Created';
  }

  .list-item-updated:before {
    content: 'Updated';
  }

  .list-item-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .list-item-created:before, .list-item-updated:before {
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    width: 55px;
  }

  .tooltip {
    p {
      font-weight: lighter;
      font-size: smaller;
      margin: 0;
      text-transform: uppercase;
    }
  }
}