@import "lib/reset.css";

$sans-stack: "Fira Sans", sans-serif;
$serif-stack: "Merriweather", serif;
$mono-stack: "Fira Mono", monospace;

//$brand-primary: #b8d5d8;
$brand-secondary: #647678;

$red: #ff5353;
$orange: #ff9850;
$yellow: #ecd800;
$green: #3db015;
$blue: #63bfff;
$purple: #a972e8;

$white: #fff;
$neutral: #969696;
$lightGray: #eee;
$darkGray: #505050;

$highlight: yellow;

$brand-primary: $purple;

$colors: (
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "blue": $blue,
        "purple": $purple,
        "neutral": $neutral
);

@mixin button($color) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid $color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;

  color: $color;
  background-color: $white;

  &:hover {
    background-color: $color;
    color: $white;
  }

  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}

@each $name, $hex in $colors {
  .#{$name} {
    color: $hex;
  }

  .button-#{$name} {
    @include button($hex);
  }
}

$allButtons: ".button-red, .button-yellow, .button-green, .button-purple, .button-neutral";

.rainbow {
  color: #000;
  background: $white;
  mix-blend-mode: multiply;

  &::before {
    content: "";
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: repeating-linear-gradient(
                    to right,
                    $purple,
                    $blue,
                    $green,
                    $yellow,
                    $orange,
                    $red
    );
    animation: rainbow_animation 4s linear infinite;
    background-size: 800% 100%;
    //pointer-events: none;
    mix-blend-mode: screen;
  }
}

html {
  box-sizing: border-box;
  font-family: $sans-stack;
  height: 100%;
  overflow-y: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

body {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: lighter;
}

#root {
  height: 100%;
  width: 100%;
}

#dev-warn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $red;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
}

input {
  outline: none;
  border: none;
  background-color: #fcfcfc;
  color: #333;
  font-family: $sans-stack;
  font-weight: lighter;
  padding: 5px;
  margin: 10px;

  &::placeholder {
    color: #767676;
  }

  &:focus {
    &::placeholder {
      color: #bbb;
    }
  }
}

input:focus {
  outline: none;
}

// app is heavily animated; be careful
#app {
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  transition: top 0.5s, left 0.5s, height 0.5s, width 0.5s, max-width 0.5s, transform 0.5s, padding 0.5s;
  transition-timing-function: ease-in-out;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

$header-transition-duration: 0.5s;

// header is heavily animated; be careful
#header {
  height: 75px;
  margin-left: -5px; // for some reason the header logo text doesn't line up with the edge of the element
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  transition: height 0.5s, margin 0.5s, padding 0.5s;
}

#header-logo {
  border: 1px solid white; // hides weird border artifacts in Chrome
  font-weight: lighter;
  text-decoration: none;
  font-size: 54px;
  color: $brand-primary;
  position: relative;
  margin-right: 24px;

  transition: font-size 0.5s;

  &:hover {
    @extend .rainbow
  }
}

#header-buttons {
  height: 54px;
  display: flex;
  flex-direction: row;

  transition: all $header-transition-duration;

  a {
    text-align: center;
    margin-right: 15px;

    font-size: 16px;
    height: 100%;

    transition: width 0.5s, height 0.5s;

    svg {
      margin: 0;
    }

    span {
      margin-left: 6px;
    }
  }

  .tooltip {
    p {
      font-weight: lighter;
      font-size: smaller;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.tooltip {
  $tooltip-arrow-size: 12px;
  $tooltip-border-color: $neutral;

  position: absolute;
  color: white;
  background-color: $tooltip-border-color;
  border: 1px solid $tooltip-border-color;
  padding: 5px;
  top: 0;

  display: flex;
  flex-direction: column;

  visibility: hidden;
  opacity: 0;

  // triangle causes all sorts of trouble and is temporarily disabled
/*  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -$tooltip-arrow-size;
    border-left: $tooltip-arrow-size solid transparent;
    border-right: $tooltip-arrow-size solid transparent;

    border-bottom: $tooltip-arrow-size solid $tooltip-border-color;
  }*/

  white-space: nowrap;

  a {
    margin: 10px;
  }

  input {
    font-size: 16px;
  }

  &.tooltip-visible {
    display: flex;
    visibility: visible;
    opacity: 1;
    top: calc(100% + 10px);
    transition: all 0.5s;
  }

  transition: visibility 0.1s, opacity 0.1s linear, top 0.1s linear;
}

.tooltip-container {
  position: relative;
}

@import "home";
@import "editor";
@import "document";
@import "list";
@import "settings";

@import "mobile";