@media only screen and (max-width: 600px) {
  html {
    //width: 480px;
  }

  #header {
    padding-left: 10px;
  }

  #app.app-home {
    top: 0;
    left: 0;
    width: 100%;
    height: unset;
    transform: unset;
  }

  #home {
    padding: 0 10px;
  }

  #app.app-editor {
    #header {
      height: 80px;
    }
  }

  #app.app-list {
    width: 100%;

    .list-item {
      padding: 0;
    }
  }

  #list {
    padding: 0 10px;
  }

  #app.app-settings {
    width: 100%;
  }

  #settings {
    padding: 0 10px;
  }
}