$settings-header-height: 60px;

#app.app-settings {
  width: 690px;
  left: 50%;
  transform: translateX(-50%);

  #header {
    height: $settings-header-height;
    margin-left: 0;
  }

  #header-logo {
    font-size: 24px;
    margin-right: 10px;
  }

  #header-buttons {
    font-size: 14px;
    height: 32px;

    a {
      width: 32px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#settings {
  width: 100%;
}